<a href="https://colab.research.google.com/github/KenMuriuki/MTN-Cote-d-Ivoire/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_3_2019_07_Kennedy_Muriuki_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing libraries to be used
import pandas as pd

In [14]:
# loading the datasets for MTN

# loading the first dataset cells_geo which is a csv file
cells_df = pd.read_csv('cells_geo.csv', index_col=0, sep=';')
cells_df

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 11 columns]

In [3]:
# loading the excel files dataset for Day 1

df1 = pd.read_csv('Telcom_dataset.csv')
df1

     PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4      Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...       ...  ...       ...         ...         ...
4996     sms    100   01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1   01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0   01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0   01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7   01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [4]:
# loading the excel file dataset for Day 2

df2 = pd.read_csv('Telcom_dataset2.csv')
df2

     PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0   02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0   03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0   04:06.0  ...     19e2e      #NAME?      #NAME?
3      Voice     37   04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25   04:58.0  ...     19e2e      #NAME?      #NAME?
...      ...    ...       ...  ...       ...         ...         ...
4996     sms      0   01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25   01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0   01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0   01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0   01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [5]:
# loading the excel file dataset for Day 3

df3 = pd.read_csv('Telcom_dataset3.csv')
df3

     PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61   01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0   01:31.0  ...     19e2e      #NAME?      #NAME?
2      Voice     10   02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0   03:04.0  ...     19e2e      #NAME?      #NAME?
4      Voice     22   03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...       ...  ...       ...         ...         ...
4996   Voice      0   01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62   01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32   01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30   01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60   01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [8]:
# merging dataframes
DF_telcom = pd.concat([df1,df2,df3], axis=0)
DF_telcom

     PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4      Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...       ...  ...       ...         ...         ...
4996   Voice      0   01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62   01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32   01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30   01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60   01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [12]:
# removing the missing values from my dataset
# here I decided to drop three columns that I did not need
DF_telcom.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis = 1, inplace=True)
DF_telcom

     PRODUCT  VALUE DATE_TIME  ...  DW_B_NUMBER_INT     CELL_ID     SITE_ID
0      Voice      0   04:37.0  ...  1a49f8b0ded9de6  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0   05:25.0  ...  93343ba6e41af95  /+cKZKIp41  /+cKZKIp41
2        sms     25   05:41.0  ...  7aacc9709ce0a20  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56   05:42.0  ...  6af4a60e74c91d3      #NAME?      #NAME?
4      Voice     14   06:29.0  ...  02aa736ee555d5c  051KhYDCpv  051KhYDCpv
...      ...    ...       ...  ...              ...         ...         ...
4996   Voice      0   01:43.0  ...  0ab2acd804d01fe  2aa04dcab7  f7d63a29e5
4997   Voice     62   01:43.0  ...  4c8098eb6ea1a41  7f1f2f889f  b4ddb9e93c
4998   Voice     32   01:43.0  ...  9d064f013e2cab2  a4731e780e  d68260ef50
4999   Voice     30   01:43.0  ...  f9ff5af59cf0d68  98ed726da2  b4130b54ab
5000   Voice     60   01:43.0  ...  7e60838216482a7  1c11a2fcbb  6d70dae094

[15003 rows x 7 columns]

In [27]:
# I decided to merge the data frame DF_telcom with the cells_geo dataset

Telcom_new = pd.merge(left=cells_df,right=DF_telcom, left_on='SITE_CODE', right_on='SITE_ID')
Telcom_new

        VILLES      STATUS  ...   CELL_ID_y     SITE_ID
0       ADJAME  In Service  ...  ac8f1ccb39  0bb492ef17
1       ADJAME  In Service  ...  ac8f1ccb39  0bb492ef17
2       ADJAME  In Service  ...  ac8f1ccb39  0bb492ef17
3        ABOBO  In Service  ...  35a513722e  56306cc7ca
4        ABOBO  In Service  ...  69ade9d187  56306cc7ca
...        ...         ...  ...         ...         ...
9471  ZUENOULA  In Service  ...  11318c21f7  f91ed8d2e9
9472  ZUENOULA  In Service  ...  cc574a1c6e  f91ed8d2e9
9473  ZUENOULA  In Service  ...  c92be6915d  61bee9c70c
9474  ZUENOULA  In Service  ...  c92be6915d  61bee9c70c
9475  ZUENOULA  In Service  ...  c92be6915d  61bee9c70c

[9476 rows x 18 columns]

In [28]:
# checking for missing values 
Telcom_new.isnull()

      VILLES  STATUS  LOCALISATION  ...  DW_B_NUMBER_INT  CELL_ID_y  SITE_ID
0      False   False         False  ...            False      False    False
1      False   False         False  ...            False      False    False
2      False   False         False  ...            False      False    False
3      False   False         False  ...            False      False    False
4      False   False         False  ...            False      False    False
...      ...     ...           ...  ...              ...        ...      ...
9471   False   False         False  ...            False      False    False
9472   False   False         False  ...            False      False    False
9473   False   False         False  ...            False      False    False
9474   False   False         False  ...            False      False    False
9475   False   False         False  ...            False      False    False

[9476 rows x 18 columns]

In [42]:
# finding the top 10 most used city for 3 days

Telcom_new.sort_values(by='DATE_TIME',ascending=0).head(10)

           VILLES      STATUS LOCALISATION  ...   CELL_ID_y     SITE_ID  VALUEranked
2261    BONDOUKOU  In Service    INTERIEUR  ...  babc0339bd  13c690c436       1955.5
9362        ZADDI  In Service    INTERIEUR  ...  85bbd0e6b0  481aaf0c3b       7674.5
9365        ZADDI  In Service    INTERIEUR  ...  85bbd0e6b0  481aaf0c3b       7674.5
2258    BONDOUKOU  In Service    INTERIEUR  ...  babc0339bd  13c690c436       1955.5
2255    BONDOUKOU  In Service    INTERIEUR  ...  babc0339bd  13c690c436       1955.5
9368        ZADDI  In Service    INTERIEUR  ...  85bbd0e6b0  481aaf0c3b       7674.5
4738       COCODY  In Service      ABIDJAN  ...  ed472df66d  f3a6b6efd1        500.5
2228    BONDOUKOU  In Service    INTERIEUR  ...  4e1d87caac  0c062a6655       3590.5
74    BINGERVILLE  In Service      ABIDJAN  ...  d9afb695b7  17899e217a       3590.5
2222    BONDOUKOU  In Service    INTERIEUR  ...  4e1d87caac  0c062a6655       3590.5

[10 rows x 19 columns]

In [0]:
# group values by cities 
#
#city_group
Telcom_new.sort_values(by='VALUE',ascending=0).head(10)

           VILLES      STATUS LOCALISATION  ...   CELL_ID_y     SITE_ID  VALUEranked
2376       COCODY  In Service      ABIDJAN  ...  3f5ac97214  a64fc672f1          3.0
2392       COCODY  In Service      ABIDJAN  ...  3f5ac97214  a64fc672f1          3.0
2384       COCODY  In Service      ABIDJAN  ...  3f5ac97214  a64fc672f1          3.0
2380       COCODY  In Service      ABIDJAN  ...  3f5ac97214  a64fc672f1          3.0
2388       COCODY  In Service      ABIDJAN  ...  3f5ac97214  a64fc672f1          3.0
6956       COCODY  In Service      ABIDJAN  ...  f46ae9694b  bb10e04c53          7.0
6959       COCODY  In Service      ABIDJAN  ...  f46ae9694b  bb10e04c53          7.0
6953       COCODY  In Service      ABIDJAN  ...  f46ae9694b  bb10e04c53          7.0
7440  TREICHVILLE  In Service      ABIDJAN  ...  e73439a17f  3ef00eb70d         10.5
7442  TREICHVILLE  In Service      ABIDJAN  ...  e73439a17f  3ef00eb70d         10.5

[10 rows x 19 columns]

In [44]:
Telcom_new['VALUE'].groupby(Telcom_new['VILLES']).mean().head(10)

VILLES
ABENGOUROU           49.590909
ABOBO                25.272085
ABOISSO              40.333333
ABOISSO COMOE        75.000000
ABONGOUA              1.000000
ABOUDEKOUASSIKRO      0.000000
ADAOU               222.000000
ADDAH               218.000000
ADIAKE               29.000000
ADJAME               31.763848
Name: VALUE, dtype: float64

In [47]:
# regions from where the most used cities come from
Telcom_new['VILLES'].groupby(Telcom_new['REGION']).count()

REGION
18 MONTAGNES          210
AGNEBY                172
BAFING                 42
BAS SASSANDRA         595
DENGUELE               98
FROMAGER              317
HAUT SASSANDRA        411
LACS                  546
LAGUNE               5062
MARAHOUE              159
MOYEN CAVALLY         174
MOYEN COMOE           111
NZI COMOE             216
SAVANE                255
SUD BANDAMA           326
SUD COMOE             109
VALLEE DU BANDAMA     346
WORODOUGOU            180
ZANZAN                147
Name: VILLES, dtype: int64

In [50]:
Telcom_new.groupby(['REGION', 'VILLES']).size().head(50)

REGION         VILLES
18 MONTAGNES   BANGOLO              9
               BIANKOUMA            6
               BIN HOUNIEN          3
               DANANE              27
               DIEOUZON             3
               FACOBLY              6
               GBONNE               6
               GUEZON TAHOUAKE      3
               KONTROU              6
               KOUIBLY              6
               LOGOUALE             3
               MAHAPLEU             3
               MAN                 96
               NEKA                 3
               NIDROU               3
               PINHOU               6
               PODIAGOUINE          3
               SANGOUINE            3
               SEMIEN               3
               SIPILOU              6
               ZON-HOUNIEN          6
AGNEBY         ABOUDEKOUASSIKRO     3
               ADZOPE              54
               AGBOVILLE           48
               AGOU                 3
               AKOUPE               3
               ASSIKOI              6
               ATTIGUEHI            3
               ATTROBROU            3
               AZAGUIE              6
               BECEDIBRIGNAN        6
               BONGOUANOU           4
               CECHI                3
               GUESSIGUIE           3
               LAOGUIE              6
               LOVIGUE              6
               PETIT YAPO           6
               RUBINO               3
               YAKASSE-ATTOBROU     3
               YAKASSEME            3
BAFING         BOROTOUKRO           3
               GUINTEGUELA          6
               KAHANSO              3
               KOONAN               3
               MOAPE                6
               OUANINOU             3
               SOKORODOUGOU         6
               TOUBA                9
               ZAALA                3
BAS SASSANDRA  ADJAMENE            12
dtype: int64

In [68]:
#Telcom_new['VILLES'].groupby(['REGION']).value_counts()
GROUP = Telcom_new.groupby('REGION')['VILLES'].value_counts().head(59)  
GROUP

REGION         VILLES
18 MONTAGNES   MAN                  96
               DANANE               27
               BANGOLO               9
               BIANKOUMA             6
               FACOBLY               6
               GBONNE                6
               KONTROU               6
               KOUIBLY               6
               PINHOU                6
               SIPILOU               6
               ZON-HOUNIEN           6
               BIN HOUNIEN           3
               DIEOUZON              3
               GUEZON TAHOUAKE       3
               LOGOUALE              3
               MAHAPLEU              3
               NEKA                  3
               NIDROU                3
               PODIAGOUINE           3
               SANGOUINE             3
               SEMIEN                3
AGNEBY         ADZOPE               54
               AGBOVILLE            48
               ASSIKOI               6
               AZAGUIE               6
               BECEDIBRIGNAN         6
               LAOGUIE               6
               LOVIGUE               6
               PETIT YAPO            6
               BONGOUANOU            4
               ABOUDEKOUASSIKRO      3
               AGOU                  3
               AKOUPE                3
               ATTIGUEHI             3
               ATTROBROU             3
               CECHI                 3
               GUESSIGUIE            3
               RUBINO                3
               YAKASSE-ATTOBROU      3
               YAKASSEME             3
BAFING         TOUBA                 9
               GUINTEGUELA           6
               MOAPE                 6
               SOKORODOUGOU          6
               BOROTOUKRO            3
               KAHANSO               3
               KOONAN                3
               OUANINOU              3
               ZAALA                 3
BAS SASSANDRA  SAN-PEDRO           251
               SOUBRE               97
               MEADJI               50
               ADJAMENE             12
               DABOUYO               9
               TABOU                 9
               TAI                   9
               YABAYO                9
               OUPOYO                8
               BLIDOUBA              6
Name: VILLES, dtype: int64